@import url("https://fonts.googleapis.com/css2?family=Lato&family=Phudu:wght@500&display=swap");
**,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

body {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(124, 121, 121);
}
