@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

**,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

body {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
}
